//functions for css readability

//blank list
@mixin reset-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

//horizontal list
@mixin hori-list{
    @include reset-list;
    li {
        display: inline-block;
        margin: {
            left: -2px;
            right: 2em
        }
    }
}

//responsive images
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

//Search  bar placeholder styling Mixin
@mixin font-face($font-name, $file) {
  
}

//Media Queries
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
